*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h3,
h4{
  font-weight: normal;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #191525;
}
/* NAV */
nav {
  color:rgba(255, 255, 255, 0.5);
  background-color: black;
  width: calc(100% / 5);
  height: calc(100% - 100px);
  line-height: 2.2;
  padding-top: 10px;
  padding-left: 20px;
}
.white{
  color: white;
}
nav .logo-spotify img{
  width: 150px;
  padding: 10px 0;
}
nav .colonna-sx{
  display: flex;
  flex-direction: column;
}
.home{
  min-height: 100px;
}
.home h4:hover{
  color:white;
  cursor:  pointer;
}
nav .home img{
  max-width: 25px;
  vertical-align: middle;
}
.playlist {
  min-height: 200px;
  flex-grow: 2;
}
.head-playlist{
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5)
}
.piu{
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px
}
.crea h3{
  margin: 5px;
}
.head-playlist:hover .piu{
  background-color: white;
  cursor:pointer;
}
.head-playlist:hover .crea{
  color: white;
  cursor:pointer;
}
.scrolling-playlist{
  flex-grow: 2;
  min-height: 200px;
  overflow-y: auto;
}
.playlist .scrolling-playlist ul{
  list-style: none;
}
.playlist .scrolling-playlist li:hover{
  color:white;
  cursor:  pointer;
}
#footer-nav{
  justify-content: flex-end;
  min-height: 80px;
  line-height: 2;
  padding-right:20px;
}
#footer-nav img{
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
}
.giuseppe:hover{
  font-weight: bolder;
}
.giuseppe:hover img{
  border-radius: 50%;
  border: 1px solid white;
}
/* MAIN */
main{
  background-color: yellow;
  width: calc(100% - 100% / 5);
  height:100% ;
}
.call-to-action {
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  background-color: rgba(19, 15, 25, 0.60);
  width: calc(100% - 100% / 5);
  height: 90px;
  line-height: 90px;
  text-align: right;
}
.call-to-action .btn {
  font-size: 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 15px;
  border-radius: 20px;
  border: 1px solid white;
}
.call-to-action .btn:hover{
  transition: 0.1s;
  padding: 10px 20px;
  font-size: 20px;
  color: #191525;
  background-color: white;
  font-weight: bolder;
}

footer {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom:0;
  background-color: rgb(46, 49, 49);
}
