*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}
h1,
h2{
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}
h3,
h4{
  font-weight: normal;
}
.container1 {
  display: flex;
  width: 100%;
  height: 100vh;
}
/* NAV */
nav {
  display: flex;
  color:rgba(255, 255, 255, 0.5);
  background-color: black;
  width: calc(100% / 6);
  height: calc(100% - 100px);
  line-height: 2.2;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 12px;
}
.white{
  color: white;
}
nav .logo-spotify img{
  width: 150px;
  padding: 10px 0;
}
nav .colonna-sx{
  display: flex;
  flex-direction: column;
}
.home{
  min-height: 100px;
}
.home h4:hover{
  color:white;
  cursor:  pointer;
}
nav .home img{
  max-width: 25px;
  vertical-align: middle;
}
.playlist {
  min-height: 200px;
  flex-grow: 2;
}
.head-playlist{
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  padding:10px 0 ;
}
.piu{
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px
}
.crea h3{
  margin: 5px;
}
.head-playlist:hover .piu{
  background-color: white;
  cursor:pointer;
}
.head-playlist:hover .crea{
  color: white;
  cursor:pointer;
}
.scrolling-playlist{
  height: 100%;
  overflow-y: auto;
}
.playlist .scrolling-playlist ul{
  list-style: none;
}
.playlist .scrolling-playlist li:hover{
  color:white;
  cursor:  pointer;
}
.footer-nav{
  z-index: 1;
  justify-content: flex-end;
  line-height: 2;

  height: 80px;
  background-color: black;
}
.footer-nav h4:hover{
  transition: 0.1s;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.footer-nav img{
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
}
.giuseppe:hover{
  font-weight: bolder;
  cursor: pointer;
}
.giuseppe:hover img{
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}
/* MAIN */
main{
  color: rgba(255, 255, 255, 0.5);
  padding-top: 90px;
  background-color: #141922;
  width: calc(100% - 100% / 6);
  height:100% ;
  overflow-y: scroll;
}
.container2{
  padding-bottom: 100px;
}
.call-to-action {
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  background-color: rgba(19, 15, 25, 0.60);
  width: calc(100% - 100% / 6);
  height: 90px;
  line-height: 90px;
  text-align: right;
}
.call-to-action .btn {
  font-size: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 40px;
  margin: 15px;
  border-radius: 20px;
  border: 1px solid white;
}
.call-to-action .btn:hover{
  transition: 0.2s;
  padding: 10px 20px;
  font-size: 15px;
  color: #191525;
  background-color: white;
  font-weight: bolder;
}
/* MUSICA */
.musica{
  color:rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 10px;
}
.musica div{
  padding: 15px;
}
.musica h3:hover{
  color:white;
  cursor: pointer;
}
/* BOX */
.row-recent{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.title-row{
  margin:10px;
}
.box{
  flex-basis: calc(100% / 6);
  padding: 10px;
}
.box h3{
  font-size: 16px;
  color: white;
  font-weight: bolder;
  margin: 10px 0;
}
.box h4{
  font-size: 14px;
}
.box img{
  width: 100%;
}
.box .image-area{
  width: 100%;
  position: relative;
}
.box .round{
  border-radius: 50%;
}
.play-video {
  color: transparent;
  font-size: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.icon{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
}
.image-area:hover .play-video{
  color:white;
  background-color: rgba(50, 50, 50, 0.5);
}

.row-per-te{
  display: flex;
  text-align: center;
}
.artisti{
  display: flex;
  text-align: center;
}
.artisti img{
  border-radius: 50%;
}
footer {
  z-index: 99;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom:0;
  background-color: #282828;
}
