*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}
h1,
h2{
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}
h3,
h4{
  font-weight: normal;
}
.grey{
  color :rgba(255, 255, 255, 0.5);
}

/* MAIN */
main{
  display: flex;
  color: rgba(255, 255, 255, 0.5);
  background-color: #141922;
  width: 100%;
  height: calc(100vh - 100px);
}
.container2{
  padding-top: 90px;
  overflow-y: auto;
}
.call-to-action {
  width: calc(100% - 150px);
  position: fixed;
  top:0;
  right:0;
  z-index: 1;
  background-color: rgba(19, 15, 25, 0.60);
  height: 90px;
  line-height: 90px;
  text-align: right;
}
.call-to-action .btn {
  font-size: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 40px;
  margin: 15px;
  border-radius: 20px;
  border: 1px solid white;
}
.call-to-action .btn:hover{
  transition: 0.2s;
  padding: 10px 20px;
  font-size: 15px;
  color: #191525;
  background-color: white;
  font-weight: bolder;
}
/* NAV */
nav {
  display: flex;
  color:rgba(255, 255, 255, 0.5);
  background-color: black;
  width: 250px;
  height: 100%;
  line-height: 2.2;
  padding-top: 10px;
  font-size: 12px;
}
.white{
  color: white;
}
nav .home h4{
  padding-left: 7px;
  border-left: 3px solid transparent
}
nav .home .active{
  border-left: 3px solid greenyellow;
}
nav .logo-spotify img{
  width: 150px;
  padding: 10px 0;
}
/* LOGO IN NONE */
nav .logo-small{
display: none;
}
nav .colonna-sx{
  display: flex;
  flex-direction: column;
}
.home{
  min-height: 100px;
}
.home h4:hover{
  color:white;
  cursor:  pointer;
}
nav .home img{
  max-width: 25px;
  vertical-align: middle;
  opacity: 0.6;
}
nav .home img:hover{
  opacity: 1;
}
.playlist {
  padding-left: 10px;
  min-height: 100px;
  overflow-y: visible;
  flex-grow: 2;
}
.head-playlist{
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  padding:10px 0 ;
}
.piu{
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px
}
.crea h3{
  margin: 5px;
}
.head-playlist:hover .piu{
  background-color: white;
  cursor:pointer;
}
.head-playlist:hover .crea{
  color: white;
  cursor:pointer;
}
.scrolling-playlist{
  height: 70%;
  overflow-y: auto;
}
.playlist .scrolling-playlist ul{
  list-style: none;
}
.playlist .scrolling-playlist li:hover{
  color:white;
  cursor: pointer;
}
.footer-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  line-height: 2;
  background-color: black;
}
.freccia,
.profilo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-nav .freccia img{
  width: 30px;
  margin: 0 5px;
  vertical-align: middle;
}
.footer-nav .freccia:hover h4{
  color: white;
  cursor: pointer;
}
.footer-nav img{
  width: 30px;
  border-radius: 50%;
}
.profilo{
  border-top: 1px solid white;
  padding-top:5px;
}
.profilo:hover,
.freccia:hover{
  cursor: pointer;
}
/* MUSICA */
.musica{
  color:rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 10px;
}
.musica div{
  padding: 15px;
}
.musica h3:hover{
  color:white;
  cursor: pointer;
}
/* BOX */
.row-recent{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.title-row{
  padding-bottom: 10px;
  margin:10px;
}
.box{
  flex-basis: calc(100% / 6 - 2px);
  min-width: 150px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.box:last-child{
  margin-right: 10px;
}
.box h3{
  font-size: 16px;
  color: white;
  font-weight: bolder;
  margin: 5px 0;
}
.box h4{
  font-size: 14px;
}
.box img{
  width: 100%;
}
.box .image-area{
  width: 100%;
  position: relative;
}
.box .round{
  border-radius: 50%;
}
.play-video {
  color: transparent;
  font-size: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.icon{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
}
.image-area:hover .play-video{
  color:white;
}
.image-area:hover img{
  opacity: 0.2;
}
.row-per-te{
  display: flex;
  text-align: center;
}
.artisti{
  display: flex;
  text-align: center;
}
.artisti img{
  border-radius: 50%;
}
/* FOOTER */
footer {
  z-index: 9;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom:0;
  background-color: #282828;
}
footer .icone{
  cursor: pointer;
}
footer h3{
  font-size: 16px;
  color: white;
  font-weight: bolder;
}
footer h4{
  font-size: 14px;
  color:rgba(255, 255, 255, 0.5);
}
.container-footer{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
/* LATO SINISTRO */
.lato-sx{
  text-align: left;
  display:flex;
  align-items: center;
  width: calc(100% / 3);
}
.lato-sx img{
  width: 50px;
}
.lato-sx .brano{
  margin: 0 10px;
}
.lato-sx .cuore{
  display: flex;
  padding-left:5px;
}
.lato-sx .cuore i{
  padding: 0 5px;
}
.lato-sx i:hover{
  color:white;
}
/* CENTRALE */
.centrale{
  color: white;
  width: calc(100% / 3);
}
.comandi{
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comandi ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.comandi i{
  margin: 10px;
  font-size: 20px;
}

#icona-speciale i{
  font-size: 30px;
}
#icona-speciale i:hover{
  transform: scale(1.2);
}
/* Barra */
.barra-di-sotto{
  display: flex;
  align-items: center;
}
.barra {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.centrale .barra {
  width: 100%;
}
.barra .linea {
  position: relative;
  height: 100%;
  border-radius: 2px;
  background-color: white;
}
.barra .linea {
  width: 50%;
}
.barra:hover .linea {
  background-color: greenyellow;
}
.barra:hover .linea .cerchio {
  position: absolute;
  background-color: white;
  top: 50%;
  right: 0;
  border-radius: 50%;
  transform: translateY(-50%);
  display: block;
  width: 15px;
  height: 15px;
}
.minuto-sx {
  padding-right: 20px;
}
.minuto-dx {
  padding-left:20px;
}

/* LATO DESTRO */
.lato-dx{
  width: calc(100% / 3);
  color: white;
  display:flex;
  justify-content: flex-end;

}
.lato-dx .comandi ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comandi i{
  margin: 10px;
  font-size: 20px;
}
.icona-speciale i{
  width: 100%;
  font-size: 30px;
  text-align: center;
}
/* VOLUME */

.lato-dx .barra{
  min-width: 60px;
  height: 5px;
  color: white;
}
.lato-dx .barra .linea {
  width: 75%;
}
/* MEDIA QUERY */
@media screen and (max-width: 600px){
  nav .colonna-sx{
    position: relative;
    display:block;
    margin: 0 auto;
    text-align: center;
  }
  nav .logo-small{
  display: block;
  }
  nav .logo-small img{
  width: 70%;
  }
  nav .home h4 {
    padding: 0;
  }
  nav .home .active{
    border-left: 0;
  }
  nav .logo-spotify{
    display: none;
  }
  nav .home span{
    display: none;
  }
  .playlist{
    display: none;
  }
  .footer-nav{
    position: absolute;
    bottom: 0;
  }
  .footer-nav .freccia,
  .footer-nav .profilo {
    text-align: center;
  }
  .footer-nav h4,
  .footer-nav h3{
    display: none;
  }
  .call-to-action {
    width: calc(100% - 50px);
  }
  .lato-sx .brano{
  display: none;
  }
  .lato-sx .cuore{
  flex-direction: column;
  }
  .lato-sx .cuore i{
  padding: 3px;
  }
  .lato-dx{
  width: calc(100% / 5);
  height: 50%;
  }
  .lato-dx .comandi ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .lato-dx .comandi ul i{
  margin: 3px;
  font-size: 15px;
  }
  .lato-dx .barra{
  min-width: 50px;
  height: 3px;
  color: white;
  }
  .lato-dx .barra .linea {
  width: 75%;
  }
}
